
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, white 50%, #FFF3EB 50%);

  &__background {
    display: flex;
    padding: 0px 16px;
    height: 100%;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
  }

  &__logo {
    background-image: url('../images/hand.svg');
    width: 288px;
    height: 192px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__info {
    font-weight: 600;
    font-size: 32px;
    margin-top: 20px;
    max-width: 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__info-text {
    margin-bottom: 102px;
    text-align: center;
    padding: 0 10px;
  }

  &__info-headind {
    font-weight: 600;
    font-size: 32px;
    color: #88888c;
  }
}



.button {
  display: block;
  width: 288px;
  height: 48px;
  background-color: #FF8B37;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  transition: 0.4s;

  &:hover {
    background-color: #FFAC70;
  }
  &:active {
    background-color: #E87928
  }
}

@media (min-width: 760px) {
  .home {
    &__wrapper {
      flex-direction: row;
    }

    &__info-text {
      margin-bottom: 64px;
    }

  }
  .button {
    width: 296px;
    height: 64px;
    line-height: 64px;
  }
}

@media (min-width: 1170px) {
  .home {
    &__background {
      padding: 0;
      justify-content: left;
    }

    &__wrapper {
      height: 367px;
      align-items: center;
      padding-top: 230px;
      padding-right: 135px;

      justify-content: center;
      width: 100%;
      margin: 0;
    }
    &__info {
      font-size: 56px;
      max-width: 500px;
      align-items: flex-start;
      margin: 0 0 0 30px;
    }
    &__info-text {
      text-align: left;
      padding: 0;
    }
    &__logo {
      width: 624px;
      height: 367px;
    }
  }
}
